{% load static %}

{% block content %}

<!-- form -->
<form name="contactForm" id="contactForm" method="post" action="">
<fieldset>

   <div class="group">
  <label for="cName">Name <span class="required">*</span></label>
  <input name="cName" type="text" id="cName" size="35" value="" />
   </div>

   <div class="group">
  <label for="cEmail">Email <span class="required">*</span></label>
  <input name="cEmail" type="text" id="cEmail" size="35" value="" />
   </div>

   <div class="group">
  <label for="cWebsite">Website</label>
  <input name="cWebsite" type="text" id="cWebsite" size="35" value="" />
   </div>

   <div class="message group">
      <label  for="cMessage">Message <span class="required">*</span></label>
      <textarea name="cMessage"  id="cMessage" rows="10" cols="50" ></textarea>
   </div>

   <button type="submit" class="submit">Submit</button>

</fieldset>
</form> <!-- Form End -->

{% endblock %}
