{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Content
================================================== -->


   <div id="main" class="eight columns">

     <section class="page">

       <h2 class="entry-title">
           About the author of the blog:
       </h2>

       <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt
          in culpa qui officia deserunt mollit anim id est laborum. </p>
       <img src="{% static 'images/example1.jpeg' %}">
       <br>
         <p>Duis aute irure dolor in reprehenderit in voluptate
         velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt
         in culpa qui officia deserunt mollit anim id est laborum</p>
       <img src="{% static 'images/example2.jpg' %}">
       <br>
         <p>Duis aute irure dolor in reprehenderit in voluptate
         velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt
         in culpa qui officia deserunt mollit anim id est laborum</p>

       <br>
         <h2 class="entry-title">
           About the blog:
       </h2>
         <p class="lead">Duis aute irure dolor in reprehenderit in voluptate
         velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt
         in culpa qui officia deserunt mollit anim id est laborum</p>

<!--       <div class="row">-->

<!--           <div class="six columns left">-->

<!--             <h5>Our Process.</h5>-->

<!--             <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,-->
<!--              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam-->
<!--              voluptatem quia voluptas sit aspernatur aut odit aut fugit.-->
<!--              </p>-->

<!--             </div>-->

<!--             <div class="six columns right">-->

<!--             <h5>Our Approach.</h5>-->

<!--             <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,-->
<!--              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam-->
<!--              voluptatem quia voluptas sit aspernatur aut odit aut fugit.-->
<!--              </p>-->

<!--           </div>-->

<!--         </div>-->

<!--         <div class="row">-->

<!--           <div class="six columns left">-->

<!--           <h5>Our Goal.</h5>-->

<!--           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,-->
<!--            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam-->
<!--            voluptatem quia voluptas sit aspernatur aut odit aut fugit.-->
<!--            </p>-->

<!--           </div>-->

<!--           <div class="six columns right">-->

<!--           <h5>Our Mission.</h5>-->

<!--           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,-->
<!--            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam-->
<!--            voluptatem quia voluptas sit aspernatur aut odit aut fugit.-->
<!--            </p>-->

<!--           </div>-->



     </section> <!-- End page -->
    </div>


{% endblock %}
